body {
    font-family: Arial;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 8px;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}
